{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="m-4">
                <h1>Task </h1>

                {{ form_start(TaskForm) }}
                {{ form_row(TaskForm.title) }}
                {{ form_row(TaskForm.content) }}
                {{ form_row(TaskForm.created_at) }}
                {{ form_row(TaskForm.updated_at) }}
                {{ form_row(TaskForm.completed_at) }}
                {{ form_row(TaskForm.status) }}
                {{ form_row(TaskForm.utilisateurs) }}

                <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
        </div>
    </div>
    {{ form_end(TaskForm) }}
{% endblock %}

